<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./static/assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./static/rcb.png" rel="icon">

 

  <title>Works</title>  

<link href="./static/main.97292821.css" rel="stylesheet"></head>

<body
background="./static/assets/images/17.jpg">


 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle uarr collapsed" data-toggle="collapse" data-target="#navbar-collapse-uarr">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./index.html" title="">
          <img src="./static/assets/images/bkgk.jpeg" class="navbar-logo-img" alt="">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a style="color:white" href="./index.html" title=""> Home</a></li>
          <li><a style="color:white" href="./works.html" title=""> Works</a></li>
          <li><a style="color:white" href="./about.html" title=""> About</a></li>
          <li><a style="color:white" href="./contact.html" title=""> Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>




<div class="section-container">
    <div class="container">
        <div class="row section-container-spacer">
            <div class="col-xs-12">
                <div class="text-center">
                    <h1 style="color:white;">Works</h1>
                </div>
                <div class="col-md-12 col-md-offset-3">
                </div>
            </div>
        </div>
<hr width="500px;" color="red"

        size="10">
        <div class="row">
            <div class="col-md-10">
                <div class="pricing-card pricing-primary">
                <h3 style="color:white;">Flask</h3>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                      <h4 style="color:white;">  <li>Flask is a web framework , it's a python module that lets you develop web applications easily.</li>
                        <li>It has a small and easy-to-extend core.</li>
                        <li>In the first step , we will activate our python environment and install Flask using the pip package installer.</li>
                        <li>In flask_blog directory , we created a file named as server.py for editing we used sublime text editor.</li></h4>
                        <br/>
                    </ul>

                </div>

            </div>
            <div class="col-md-10">
                <div class="pricing-card pricing-primary">
                    <h3 style="color:white;">Python</h3>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                      <h4 style="color:white;">  <li>Python is an interpreted high level genral purpose programming language. </li>
                        <li>The current latest version of python is 3.9.7.</li>
                        <li>Python can be used for various appliactions such as AI and machine learning , Data analytics , Data visualisation,programming applications,Game development ,Web development and Finance.</li></h4>
                        <br/>
                    </ul>
                    
                </div>
            </div>
            <div class="col-md-10">
                <div class="pricing-card pricing-primary">
                    <h3 style="color:white;"> < HTML > </h3>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                       <h4 style="color:white;"> <li>The Hyper Text Markup Language,or HTML is the standard markup language for documents designed to be displayed in a web browser</li>
                        <li>HTML can be assisted by technologies such as Cascading Style Sheets and scripting languages such as Java Script.</li>
                        <li>In HTMl we used certain tags like head ,title,footer,body,template, label , break,paragragh, font, unordered list and many more.</li></h4>
                        <br/>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="pricing-card pricing-primary">
                    <h3 style="color:white;"> {CSS} </h3>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                       <h4 style="color:white;"> <li>CSS stands for "Cascading Style Sheets".</li>
                        <li>It is designed to enable the seperation of presentation of web pages , including colours, layout and fonts.</li>
                        <li>This seperation can improve content accessibility, provide more flexibility and control in the specifications of presentation characteristics.</li></h4>
                        <br/>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="pricing-card pricing-primary">
                    <h3 style="color:white;"> {JS} </h3>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                       <h4 style="color:white;"> <li>JavaScript is used to develop interactive web applications. </li>
                        <li>JavaScript can power featured like interactive images, carousels, and forms. </li>
                        <li>The language can be used with back-end frameworks like Node. js to power the mechanics behind a web page, such as form processing and payments.</li></h4>
                        <br/>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="pricing-card pricing-primary">
                    <h3 style="color:white;"> Github </h3>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                       <h4 style="color:white;"> <li>GitHub is a Git repository hosting service, but it adds many of its own features.</li>
                        <li>While Git is a command line tool, GitHub provides a Web-based graphical interface.</li>
                        <li>It also provides access control and several collaboration features, such as a wikis and basic task management tools for every project.</li></h4>
                        <br/>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="pricing-card pricing-primary">
                    <h3 style="color:white;"> Python anywhere for hosting</h3>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                       <h4 style="color:white;"> <li>PythonAnywhere is an online integrated development environment (IDE) and web hosting service (Platform as a service) based on the Python programming language</li>
                        <li>Web applications hosted by the service can be written using any WSGI-based application framework.
                        </li>
                        <li>PythonAnywhere is described as "the simplest way to deploy web2py applications.</li></h4>
                        <br/>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="pricing-card pricing-primary">
                    <h3 style="color:white;"> Sublime Text Editor</h3>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                        <h4 style="color:white;"><li>Sublime Text is a commercial source code editor.</li>
                        <li> It natively supports many programming languages and markup languages.</li>
                        <li>Users can expand its functionality with plugins, typically community-built and maintained under free-software licenses.</li>
                        <li>To facilitate plugins, Sublime Text features a Python API.</li></h4>
                        <br/>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>  


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>

<script type="text/javascript" src="./static/main.faaf51f9.js"></script></body>

</html>